
    body {
        background-image: url('https://images.unsplash.com/photo-1635863138275-d9b33299680b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80');
        background-size: cover; /* Ensures the image covers the entire background */
        background-repeat: no-repeat; /* Prevents image from repeating */
        background-attachment: fixed; /* Keeps the image fixed while scrolling */
      }
.character-poster-img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}